.DS_Store
bin/*
!bin/.gitkeep
data/*
!data/templates
!data/cdn/.gitkeep
!data/db/api/.gitkeep
!data/db/redis/.gitkeep
!data/db/wp/.gitkeep
!data/wp/.gitkeep
!data/.gitkeep
!data/test.png
.env
web/cypress/screenshots/*
backend/service/api/tmp
backend/service/cdn/tmp
__debug*