[Unit]
Description=Aham CDN (cdn.aham.ro)
After=network.target

[Install]
WantedBy=default.target

[Service]
WorkingDirectory=/usr/local/aham
ExecStart=make start-cdn
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID