{
    "swagger": "2.0",
    "info": {
      "version": "v1",
      "title": "Aham API",
      "description": "Documentație integrare sistem de anunțuri Aham"
    },
    "host": "api.aham.ro",
    "basePath": "/v1",
    "schemes": ["http"],
    "paths": {
      "/auth": {
        "post": {
            "summary": "Autentificare",
            "requestBody": {
                "description": "Autentificare pentru a genera cod nou pentru folosire API",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/definitions/Auth"    
                        }
                    }
                }
            }
        }
      },
      "/me": {
        "post": {
            "summary": "Informații user"
        }
      },
      "/me/referrer": {
        "post": {
            "summary": "Link pentru referințe"
        }
      },
      "/ads": {
        "post": {
            "summary": "Crează anunțuri"
        }
      },
      "/ads/{id}": {
        "get": {
            "summary": "Obține un anunț"
        }
      },
      "/ads/{id}/publish": {
        "post": {
            "summary": "Publică anunț"
        }
      }
    },
    "definitions": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "given_ame": {
            "type": "string"
          },
          "family_name": {
            "type": "string"
          }
        }
      },
      "Auth": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      }
    }
  }
  