.headMenu {
    display: flex;
    align-items: center;
}

.headMenuButtonMore {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headMenuButtonMore svg {
    margin-right: 5px;
    margin-top: -1px;
}

.headMenuButtonMore:active svg {
    margin-top: 0px;
}

.headMenuButtonMore label {
    cursor: pointer;
}