.markdown {
    margin-top: 30px;
    margin-bottom: 50px;
}

.markdown h1 {
    margin-bottom: 15px;
}

.markdown h2 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.markdown p {
    line-height: 25px;
}

.markdown ul {
    padding: 20px 40px;
}

.markdown ul li{
    padding-bottom: 10px;
}
