.listing {
  display: grid; 
    grid-template-columns: 1fr; 
    gap: 42px;
    grid-template-areas: ". ";
}

@media only screen and (min-width : 700px) { 
  .listing {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 42px;
    grid-template-areas: 
      ". ."; 
  }
}
@media only screen and (min-width : 1200px) { 
  .listing {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 42px; 
    grid-template-areas: 
      ". . ."; 
  }
}